<header>
	<div class="container-fluid">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark row">
			<a class="navbar-brand col-lg-5 " href="/" style="font-size: 32px; color: purple; font-weight: bold;">pubChat</a>
			</button>
			<div style="position: absolute; right: 0;">
				<ul class="headerUl">
					<li class="headerLi">
						<a href="{{linkIn}}" style="font-size: 24px;">{{signIn}}</a>
					</li>
					<li class="headerLi">
						<a href="{{linkUp}}" style="font-size: 24px;">{{signUp}}</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>