<header>
	<div class="container-fluid">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark row">
			<a class="navbar-brand col-lg-5 " href="/" style="font-size: 32px; color: purple; font-weight: bold;">pubChat</a>
			</button>
			<div id="my-nav" class="collapse navbar-collapse" style="position: absolute; right: 0;">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="{{linkIn}}" class="nav-link" style="font-size: 24px;">{{signIn}}</a>
					</li>
					<li class="nav-item ">
						<a href="{{linkUp}}" class="nav-link" style="font-size: 24px;">{{signUp}}</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>