<header>
	<div class="container-fluid">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark row">
			<a class="navbar-brand col-lg-5 " href="/">pubChat</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="my-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="/trade" class="nav-link">Trade</a>
					</li>
					<li class="nav-item ">
						<a href="/deposit" class="nav-link">Deposit</a>
					</li>
					<li class="nav-item ">
						<a href="/rules" class="nav-link">Rules</a>
					</li>
					<li class="nav-item ">
						<a href="#" class="nav-link">About</a>
					</li>
				</ul>
				<span class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{mail}}
					</a>	
				</span>
			</div>
		</nav>
	</div>
</header>