<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div id="content">
	<div id="main">
		<div id="users">
			<div><h3>Active users:</h3></div></br>
		</div>
		<div id="chat">
			<div id="messages">
			
			</div>
			<div id="typeMsg">
				<form name="publish">
					<textarea id="message" placeholder="Write your message..."></textarea> 
					<input type="submit" value="Send" id="button">
				</form>
			</div>
		</div>
	</div>
</div>
<span style="display: none;" id="disable">{{check}}</span>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/showHistory.js"></script>
<script>
	$(function() {
		const socket = io.connect('http://localhost:3000');
		socket.emit('loadInfo', document.cookie);

		socket.on('loadHistory', messages => {
			showHistory(messages);
		});

		socket.on('activeUser', names => {
			$('#users').val('');
			for (let name of names) {
				$('#users').append("<h6>" + name + "</h6></br>");
			}
		});

		socket.on('disconnect', () => socket.emit('disconnect', document.cookie));

		$('form').submit(e => {
			e.preventDefault();
			socket.emit('message', { text: $('#message').val(), cookies: document.cookie, date: new Date() });
			$('#message').val('');
			return false;
		});

		socket.on('addMessage', event => {
			let newDate = new Date(event.date);
			let date = newDate.getDate() +
						'.' + newDate.getMonth() +
						' ' + newDate.getHours() +
						':' + newDate.getMinutes();
			let nameText = '<b>' + event.userName + ':</b> ' +
							event.text;

			div = document.createElement('div');


			if (event.cookies == document.cookie) {
				div.className = 'myMessage';
			} else {
				div.className = 'otherMessage';
			}
			pDate = document.createElement('p');
			pDate.textContent = date;

			pText = document.createElement('p');
			pText.innerHTML = nameText;

			divInline = document.createElement('div');
			divInline.append(pDate);
			divInline.append(pText);

			div.append(divInline);

			let mainDiv = document.getElementById('messages');
			mainDiv.append(div);
			mainDiv.append(document.createElement('br'));
			
		});
	});
</script>
<script>
	$(function() {
		if($('#disable').text() == 'false') {
			$('#message').prop('disabled', true);
			$('#button').prop('disabled', true);
			$('#message').prop('placeholder', "Sign in to write something...");
		}
	})
</script>