<div style="margin-bottom: 113px;">
	<form class="container" method="post" action="/sign/in">
		<label for="exampleInputEmail1" style="margin-top: 30px;">Email address</label>
		<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="margin: 10px 0px;">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="margin: 10px 0px;">
		<input type="submit" style="margin: 10px 0px;">
		<a href="/sign/up">Don't have an account? Create one now.</a>
	</form>
</div>